@charset "UTF-8";

body {
font: normal 16px arial, verdana, sans-serif;
text-align: left;
}
h1{
    text-align: center;
    color: rgb(12, 167, 64);
}
h2{
    text-align: right;
    color: rgb(245, 4, 52);
}
p{
    text-align: justify;
    text-indent: 30px;
}